/* 全局样式文件 */
html,
body{
  height: 100%;
  font-family: 'Microsoft YaHei';
  color: #333;
  background-color: #fff;
}
#root,
.App{
  height: 100%;
}
*{
  box-sizing: border-box;
  /* 不能加在这里，会导致页面无法拖动 */
  /* touch-action: none; */
  margin: 0;
  padding: 0;
}
ul,
ol{
  list-style-type: none;
}