/* 全局样式文件 */
html,
body{
  height: 100%;
  font-family: 'Microsoft YaHei';
  color: #333;
  background-color: #fff;
}
*{
  box-sizing: border-box;
  /* 解决轮播图滑动chrome浏览器报错的问题。是因为浏览器不再检测阻止默认行为的原因 */
  touch-action: none;
  margin: 0;
  padding: 0;
}